.container
    h1.pac-font.mt-4.mb-4 Календар подій
.container
    iframe(src='https://calendar.google.com/calendar/embed?src=kqus2aec0u322tbr3cbml749o8%40group.calendar.google.com&ctz=Europe%2FKiev', style='border: 0', scrolling='no', width='100%', height='600', frameborder='0')
