
.container.marketing
   
    hr.featurette-divider
    .row.featurette
        .col-md-7
            h2.featurette-heading
                | LSKYouth - молодежная организация. 
                span.text-muted Развиваем молодежное общество.
            p.lead
                | Нашей целью является поддержка молодежи города Лисичанска, создание условий для молодого контингента и дальнейшего развития города вместе с молодым поколением Лисичанска.
        .col-md-5
            img.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto.border.border-secondary.rounded(src='/public/images/lsk.png', width='500', height='500', focusable='false', alt='Placeholder: 500x500')
            
    hr.featurette-divider
    .row.featurette
        .col-md-7.order-md-2
            h2.featurette-heading
                | Читайте статьи наших авторов! 
                span.text-muted Имеются даже рецензии на фильмы!
            p.lead
                | В LSKYouth состоит не мало талантливых писателей и журналистов, и благодаря этому на сайте имеется множество статей на самые разные темы!
        .col-md-5.order-md-1
            img.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto.border.border-secondary.rounded(src='/public/images/article.png', width='500', height='500' alt="Events")
    hr.featurette-divider
    .row.featurette
        .col-md-7
            h2.featurette-heading
                | А ещё, мы снимаем видеоролики! 
                span.text-muted Наши видео никого не оставят равнодушными!
            p.lead
                | В городе постоянно происходят интересные события, о которых мы поведаем вам! Наши видео охватывают широкий спектр областей: от пародийных и обучающих -    до социальных роликов и репортажей.
        .col-md-5
            img.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto.border.border-secondary.rounded(src='/public/images/video.png', width='500', height='500' alt="Events")
    hr.featurette-divider
    .row.featurette
        .col-md-7.order-md-2
            h2.featurette-heading
                | Посещайте наши мероприятия! 
                span.text-muted Вы получите тонну позитивных эмоций!
            p.lead
                | Одной из целей LSKYouth является развитие культуры города Лисичанска. Чтобы способствовать этому мы проводим множество интересных мероприятий, на которых вы сможете приятно провести время.
        .col-md-5.order-md-1
            img.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto.border.border-secondary.rounded(src='/public/images/event.png', width='500', height='500' alt="Events")
    hr.featurette-divider

.card.text-center
    .card-header
        h1 Featured
    .container
        .card-body
            h1.card-title ПІДТРИМАЙТЕ ПРОЕКТ
            p.card-text With supporting text below as a natural lead-in to additional content.
            a(href="#")
                button.btn.btn-primary(type='subbmit') Go somewhere
    .card-footer.text-muted
            