hr.featurette-divider
.card.text-center
    .card-body.text-white(style="background: no-repeat center/100% fixed url(/public/images/carousel1.jpg); height: 232px")
        .container
            h1.card-title.mt-5.p-3.bold(style='border: 8px solid; height: 100px')
                b ТРОХИ  
                b.ml-4 ПРО
                b.ml-4 НАС
hr.featurette-divider
.container.marketing
    .row.featurette
        .col-md-7
            h2.featurette-heading
                span.LSK LSKYouth 
                span.pac-font - молодіжна організація. 
                span.text-muted.pac-font Розвиваємо молодіжне товариство.
            p.lead Нашою метою є підтримка молоді міста Лисичанська, створення умов для молодого контингенту і подальшого розвитку міста разом з молодим поколінням Лисичанська.
        .col-md-5
            img.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto.border.border-secondary.rounded(src='/public/images/lsk.png', width='500', height='500', focusable='false', alt='Placeholder: 500x500')
            
    hr.featurette-divider
    .row.featurette
        .col-md-7.order-md-2
            h2.featurette-heading.pac-font Читайте статті наших авторів! 
                span.text-muted.pac-font Є навіть рецензії на фільми!
            p.lead В організації LSKYouth входить не мало талановитих людей, в тому числі письменників і журналістів, і завдяки цьому на сайті є безліч статей на найрізноманітніші теми!
        .col-md-5.order-md-1
            img.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto.border.border-secondary.rounded(src='/public/images/article.png', width='500', height='500' alt="Events")

    hr.featurette-divider
    .row.featurette
        .col-md-7
            h2.featurette-heading.pac-font А ще, ми знімаємо відеоролики! 
                span.text-muted Наші відео нікого не залишать байдужими!
            p.lead У місті постійно відбуваються цікаві події, про які ми розповімо вам! Наші відео охоплюють широкий спектр областей: від пародійних і навчальних - до соціальних роликів та репортажів.
        .col-md-5
            img.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto.border.border-secondary.rounded(src='/public/images/video.png', width='500', height='500' alt="Events")

    hr.featurette-divider
    .row.featurette
        .col-md-7.order-md-2
            h2.featurette-heading.pac-font Відвідуйте наші заходи! 
                span.text-muted.pac-font Ви отримаєте багато позитивних емоцій!
            p.lead Однією з цілей LSKYouth є розвиток культури міста Лисичанська. Щоб сприяти цьому ми проводимо безліч цікавих заходів, на яких ви зможете приємно провести час.
        .col-md-5.order-md-1
            img.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto.border.border-secondary.rounded(src='/public/images/event.png', width='500', height='500' alt="Events")
hr.featurette-divider
.card.text-center
    .card-body.text-white(style="background: no-repeat top/100% fixed url(/public/images/helpus.jpg);")
        h1.card-title.bold
            b П І Д Т Р И М А Й Т Е 
            b.ml-4 П Р О Е К Т
        a(href="/#")
            button.btn.btn-outline-success.my-2.my-sm-0.p-0(style='border-width:6px; border-radius: 0; width: 320px; height: 69px', type='submit') 
                h1 D O N A T E
hr.featurette-divider            