include common/layout.pug
include common/header.pug
br
br
br
.container
    ul
        li Omae
        li Wa
        li Mou
        li Shinderu
    h1 NANI?!
    p *sounds of nani-death*
include common/footer.pug