footer.bg-dark.w-100(style="position: relative; left: 0; bottom: 0; padding: 13px; color: white;")
    .container
        .container
            a(href="#")    
                button.btn.btn-outline-light.float-right(style="position: relative; width: 120px; top:6px; right: 0px;") 
                    i.fas.fa-chevron-up.mr-2(style='font-size:15px; color: #1E90FF')
                    | Вгору
        br
        br
        .container
            hr(style='color: white; background-color: white; height: 2px; clear: right;')
        
        .container
            ul.list-inline.float-right
                li.list-inline-item
                    form(action='https://www.facebook.com/lskyouth/', method='get', target='_blank')
                        button.btn.btn-primary(type='submit', style='padding: 1px 3px')
                            i.fab.fa-facebook-square(style='font-size:45px; color: black')                    
                li.list-inline-item
                    form(action='https://www.instagram.com/lskyouth/?hl=ru', method='get', target='_blank')
                        button.btn.btn-warning(type='submit', style='padding: 1px 3px')
                            i.fab.fa-instagram(style='font-size:45px; color: black')                    
                li.list-inline-item
                    form(action='https://www.youtube.com/channel/UC9dP6kxZFIMAVhI4Snc0unw', method='get', target='_blank')
                        button.btn.btn-danger(type='submit', style='padding: 1px 3px')
                            i.fab.fa-youtube(style='font-size:45px; color: black')                    
                li.list-inline-item
                    form(action='#', method='get', target='_blank')
                        button.btn.btn-info(type='submit', style='padding: 1px 3px')
                            i.fab.fa-google(style='font-size:45px; color: black')                    
        .container
            a.footer-logo(href='/')
                img(src='/public/images/logo.png', width='100px', height='100px', alt='logo')
        .container.mt-3
            p © 2019 LSKYouth.
        .container
            ul.list-inline.text-center
                li.list-inline-item
                    a.text-light(href='/about') Про нас
                li.list-inline-item |
                li.list-inline-item
                    a.text-light(href='#') Партнерство
                li.list-inline-item |
                li.list-inline-item
                    a.text-light(href='/contacts') Контакты 
script(src='https://kit.fontawesome.com/4e0147fe52.js')